@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background-color: #232323;
  font-family: "Sora", sans-serif;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
  background-image: url("https://gavi-nextjs.vercel.app/assets/imgs/patterns/noise1.png");
  background-size: auto;
  background-repeat: repeat;
  border-radius: 30px 0 0 30px;
  pointer-events: none;
  opacity: 0.5;
  z-index: -1;
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  pointer-events: none;
}
.lines span {
  height: 100%;
  width: 10%;
  margin: 0 5%;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 1px dashed rgba(255, 255, 255, 0.05);
}

.linkcolor a:hover {
  color: #c8f31d;
}
